div(class="row")
	.main
		.title(class="col-xs-4")
			a(href=httpUrl, target="_blank") #{title}
		.url(class="col-xs-4") 
			a(href=httpUrl, target="_blank") #{httpUrl}
		.tags(class="col-xs-4") #{tags}
	.more
		.description(class="col-xs-12") #{description}