#content
    #bookmarks-exchange
        input#bookmarks-exchange-file(
            type="file", 
            name="exchange-file"
        )
        button#bookmarks-exchange-import(
            class="glyphicon glyphicon-upload"
            title="Import html bookmarks files exported from your browser"
        )
        button#bookmarks-exchange-export(
            class="glyphicon glyphicon-download"
            title="Export bookmarks in html"
        )
        #bookmarks-exchange-done
        #bookmarks-exchange-failed

    form#bookmark-add(class="box")
        #bookmark-add-title(
            title="Show the full form"
        ) Bookmark a link

        input#bookmark-add-link-url(
            placeholder="url"
        )
        input#bookmark-add-link-title(
            placeholder="title"
        )
        textarea#bookmark-add-link-description(
            placeholder="description"
        )
        input#bookmark-add-link-tags(
            placeholder="tags, separated by ','"
        )
        #bookmark-add-buttons
            button#bookmark-add-add(
                class="glyphicon glyphicon-ok-circle",
                title="Save the bookmark"
            )
            button#bookmark-add-clean(
                class="glyphicon glyphicon-remove-circle",
                title="Clear the form"
            )
                            
    #bookmarks(class="box")
        #bookmarks-tools
            input#bookmarks-tools-search(
                placeholder="search"
            )
            button#bookmarks-tools-clean(
                class="glyphicon glyphicon-remove-circle",
                title="Clear search field"
            )
            button#bookmarks-tools-tags(
                class="glyphicon glyphicon-tags",
                title="Toggle tags cloud"
            )
            button#bookmarks-tools-sort(
                class="glyphicon glyphicon-sort",
                title="Sort links",
                data-sort="title"
            )

            #tags-cloud 

        ul
