#content
    #bookmarks-exchange
        input#bookmarks-exchange-file(
            type="file", 
            name="exchange-file"
        )
        button#bookmarks-exchange-import(
            class="glyphicon glyphicon-upload"
            title="Import html bookmarks files exported from your browser"
        )
        button#bookmarks-exchange-export(
            class="glyphicon glyphicon-download"
            title="Export bookmarks in html"
        )
        #bookmarks-exchange-done
        #bookmarks-exchange-failed

    form#bookmark-add
        #bookmark-add-title(
            title="Show the full form"
        ) Bookmark a link

        input#bookmark-add-url(
            placeholder="url"
        )
        input#bookmark-add-title(
            placeholder="title"
        )
        input#bookmark-add-tags(
            placeholder="tags, separated by ','"
        )
        textarea#bookmark-add-description(
            placeholder="description"
        )
        #bookmark-add-buttons
            button#bookmark-add-add(
                class="glyphicon glyphicon-ok-circle",
                title="Save the bookmark"
            )
            button#bookmark-add-clean(
                class="glyphicon glyphicon-ok-circle",
                title="Clear the form"
            )
                            
    #bookmarks-tools
        input#bookmarks-tools-search(
            placeholder="search"
        )
        button#bookmarks-tools-sort(
            class="glyphicon glyphicon-sort",
            title="Sort links",
            data-sort="title"
        )
        button#bookmarks-tools-clean(
            class="glyphicon glyphicon-remove-circle",
            title="Clear search field"
        )

    #tags-cloud 
        h4 Nuage de tags

    #bookmarks
        ul
